<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
   .contenedor{
    display:flex;
    background-color: pink;
    flex-wrap: wrap;
   }

   .contenedor div{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    margin: 10px;
   }

   h1{
    text-align: center;
    color:gray;
    background-color: black;
   }

.contenedor img{
    width: 100%;

}

.caja1{
    width: 100px;
}



</style>
<body>
    <h1>Flexbox</h1>
    <div class="contenedor">
        <div class="caja1"><img src="..\public\images\img-cafetera-moulinex.jpg" alt="cafetera"></div>
        <div>aprendiendo</div>
        <div>hijos cajas</div>
        <div>Hola1</div>
        <div>aprend1iendo</div>
        <div>hijos caj1as</div>
    </div>

    
</body>
</html>